<h1>New product</h1>
<div class="span-24">
<% form_for(@product) do |f| %>
  <%= f.error_messages %>

  <div class="span-4">
    <%= f.label :title %>
  </div>
  <div class="span-18">
    <%= f.text_field :title %>
  </div>
  <div class="span-4">
    <%= f.label :description %>
  </div>
  <div class="span-18">
    <%= f.text_area :description %>
  </div>
  <div class="span-4">
    <%= f.label :image_url %>
  </div>
  <div class="span-18">
    <%= f.text_field :image_url %>
  </div>
  <div class="span-4">
    <%= f.label :price %>
  </div>
  <div class="span-18">
    <%= f.text_field :price %>
  </div>
  <div class="span-22">
    <%= f.submit 'Create' %>
  </div>
<% end %>
</div>
<%= link_to 'Back', products_path %>